html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
.login{
    margin: 10% 20% ;
    
}
footer{
    background-color: #0066a5;
}
.header{
    width: 100%;
    height: 500px;
    background:url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    text-align: center;
    padding-left: 50%;
    padding-top: 12%;
}
.categories{
    padding-top: 2%;
    margin-left:2% ;
}
.img-size{
    height: 250px !important;
    width: 350px !important;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}
.demo{
    margin-top: 2%;
}
.hm-zoom{
    transition: 0.3s ease-in-out;
    color: black;
}
.hm-zoom:hover{
    transform: scale(1.15);

    
}

a{
    text-decoration: none;
    color: #000;
}
a:hover{
    
    text-decoration: none;
    color: #000;
}
.mask:hover{
    color: #000;
    text-decoration: none;
}
.text-green{
    text-decoration: none;
    color: #000;
}
.text-green:hover{
    text-decoration: none;
    color: #000;
}
